
@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');




body{
    background-color: rgb(255, 255, 231);
    padding: 0;
    margin: 0;
}

#logo{
    width: 70px;
    height: 70px;
}
#tituloPrincipal{
    font-family:'Corinthia' ;
    font-size: 60px;
    margin-left: 4%;
    color: rgb(117, 151, 119);
    margin-bottom: 8%;
}

#topo {
    margin: none;
    display: flex;
    height: 137px;
    box-shadow: 0 8px 10px 0  rgb(184, 197, 185);
    
    
}

#butoes{
    margin-left: 63%;
    display: flex;
    margin-top: 4%;
    gap: 20px;
}

.btn{
    text-decoration: none;
    background-color: rgb(119, 156, 121);
    border-radius: 17px;
    text-align: center;
    color: rgb(255, 255, 255);
    border: none;
    width: 100px;
    height: 34px;
    font-family: 'Forum';
    font-size: 20px;
   
}